<div class="gameSetupFormDiv">
  <form #gameSetupForm="ngForm" (ngSubmit)="handleSubmit()">
    <div>
      Choose # Of Players:
      <mat-radio-group
        [(ngModel)]="gameSettings.numberOfPlayers"
        name="numberOfPlayers"
        id="numberOfPlayers"
        (change)="handleNumberOfPlayersChange()"
      >
        <!-- <mat-radio-button [value]="1">1</mat-radio-button> -->
        <mat-radio-button [value]="2">2</mat-radio-button>
        <mat-radio-button [value]="3">3</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      Choose # Of Rounds:
      <mat-form-field>
        <input
          matInput
          type="number"
          [(ngModel)]="gameSettings.numberOfRounds"
          id="numberOfRounds"
          name="numberOfRounds"
          placeholder="rounds"
          min="1"
        />
      </mat-form-field>
    </div>

    <!-- dropdown -->
    <div>
      Choose Game Matrix From List:
      <mat-form-field style="width: 200px;">
        <mat-label>Game Matrix Template</mat-label>
        <mat-select
          [(ngModel)]="gameMatrixTemplate"
          name="gameMatrixTemplate"
          id="gameMatrixTemplate"
          (selectionChange)="handleMatrixTemplateChange()"
        >
          <mat-option [value]="RandomMatrixString">
            {{ RandomMatrixString }}
          </mat-option>
          <mat-option
            *ngFor="let matrix of gameMatrixTemplate$ | async"
            [value]="matrix"
          >
            {{ matrix }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        class="generateButton"
        mat-raised-button
        type="button"
        color="accent"
        (click)="handleMatrixValuesChange()"
      >
        to generate
      </button>
    </div>

    <!-- matrix dimension -->
    <span *ngIf="gameMatrixTemplate === 'Random Matrix'">
      <div>
        Choose Game Matrix Dimensions
        <mat-form-field>
          <input
            matInput
            type="number"
            [(ngModel)]="gameSettings.gameMatrixNumOfRows"
            name="gameMatrixNumOfRows"
            id="gameMatrixNumOfRows"
            placeholder="rows"
            [min]="2"
            [max]="8"
            (change)="handleDimensionChange()"
          />
          <mat-error>thbybyby</mat-error>
        </mat-form-field>

        X

        <mat-form-field>
          <input
            matInput
            type="number"
            [(ngModel)]="gameSettings.gameMatrixNumOfCols"
            name="gameMatrixNumOfCols"
            placeholder="cols"
            min="2"
            max="8"
            (change)="handleDimensionChange()"
          />
        </mat-form-field>

        <span *ngIf="gameSettings.numberOfPlayers === 3">
          X

          <mat-form-field>
            <input
              matInput
              type="number"
              [(ngModel)]="gameSettings.gameMatrixDepth"
              name="gameMatrixDepth"
              placeholder="depth"
              min="2"
              max="8"
              (change)="handleDimensionChange()"
            />
          </mat-form-field>
        </span>
      </div>
    </span>

    <!-- game matrix -->
    <div *ngIf="gameMatrix; else invalidMatrix">
      <app-game-matrix [matrix]="gameMatrix"></app-game-matrix>
    </div>
    <ng-template #invalidMatrix>
      Invalid
    </ng-template>

    <!-- submit -->
    <div style="margin-top: 15px;">
      <button
        mat-raised-button
        [disabled]="!gameSetupForm.valid"
        type="submit"
        color="accent"
        style="width: 100%;"
      >
        Ready To Play
      </button>
    </div>
  </form>
</div>
