<div class="gameSetupFormDiv">
  <form #gameSetupForm="ngForm" (ngSubmit)="handleSubmit()">
    <!-- # of players -->
    <div>
      Number Of Players:
      <mat-radio-group
        [(ngModel)]="gameSettings.numberOfPlayers"
        name="numberOfPlayers"
        id="numberOfPlayers"
        (change)="handleNumberOfPlayersChange()"
      >
        <mat-radio-button [value]="2">2</mat-radio-button>
        <mat-radio-button [value]="3">3</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- human or computer players -->
    <span>
      <mat-button-toggle-group [ngModel]="playerTypes[0]" name="player1Type">
        <p style="margin: auto; width: 70px; text-align: -webkit-center;">
          Player 1
        </p>
        <mat-button-toggle
          matTooltip="Human Player"
          [value]="PLAYER_TYPES.Human"
        >
          <mat-icon color="accent">
            face
          </mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group
        *ngFor="let playerType of myPlayerTypes; index as playerTypeIndex"
        [id]="'playerType-' + playerTypeIndex"
        [name]="'playerType-' + playerTypeIndex"
        [(ngModel)]="playerType.type"
      >
        <p style="margin: auto; width: 75px; text-align: -webkit-center;">
          Player {{ playerTypeIndex + 2 }}
        </p>
        <mat-button-toggle
          matTooltip="Human Player"
          [value]="PLAYER_TYPES.Human"
        >
          <mat-icon color="accent">
            face
          </mat-icon>
        </mat-button-toggle>
        <mat-button-toggle
          matTooltip="Computer Player"
          [value]="PLAYER_TYPES.Random"
        >
          <mat-icon color="accent">
            computer
          </mat-icon></mat-button-toggle
        >
      </mat-button-toggle-group>
    </span>

    <!-- # of rounds -->
    <div>
      Number Of Rounds:
      <mat-form-field>
        <div [formGroup]="user_data">
          <input
            matInput
            type="number"
            [(ngModel)]="gameSettings.numberOfRounds"
            id="numberOfRounds"
            name="numberOfRounds"
            placeholder="rounds"
            min="1"
            max="10"
            formControlName="numberOfRounds"
          />
        </div>
      </mat-form-field>
    </div>

    <!-- dropdown -->
    <div>
      Game Matrix:
      <mat-form-field style="width: 200px;">
        <mat-label>Game Matrix Template</mat-label>
        <mat-select
          [(ngModel)]="gameMatrixTemplate"
          name="gameMatrixTemplate"
          id="gameMatrixTemplate"
          (selectionChange)="handleMatrixTemplateChange()"
        >
          <mat-option [value]="RandomMatrixString">
            {{ RandomMatrixString }}
          </mat-option>
          <mat-option
            *ngFor="let matrix of gameMatrixTemplate$ | async"
            [value]="matrix"
          >
            {{ matrix }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span *ngIf="gameMatrixTemplate === 'Random Matrix'">
        <button
          matTooltip="Generate Random Values"
          mat-icon-button
          color="accent"
          class="generateButton"
          mat-raised-button
          type="button"
          (click)="handleMatrixValuesChange()"
        >
          <mat-icon>
            refresh
          </mat-icon>
        </button>

        <mat-form-field class="minMaxRandomValues">
          <input
            matTooltip="Min Value to Generate"
            matInput
            type="number"
            [(ngModel)]="randomMatrixMinValue"
            name="randomMatrixMinValue"
            placeholder="Min Value"
          />
        </mat-form-field>

        <mat-form-field class="minMaxRandomValues">
          <input
            matTooltip="Max Value to Generate"
            matInput
            type="number"
            [(ngModel)]="randomMatrixMaxValue"
            name="randomMatrixMaxValue"
            placeholder="Max Value"
          />
        </mat-form-field>
      </span>
    </div>

    <!-- matrix dimension -->
    <span *ngIf="gameMatrixTemplate === 'Random Matrix'">
      Game Matrix Dimensions
      <mat-form-field>
        <div [formGroup]="user_data">
          <input
            matInput
            type="number"
            [(ngModel)]="gameSettings.gameMatrixNumOfRows"
            name="gameMatrixNumOfRows"
            id="gameMatrixNumOfRows"
            placeholder="rows"
            [min]="2"
            [max]="8"
            (change)="handleDimensionChange()"
            formControlName="gameMatrixNumOfRows"
          />
        </div>
      </mat-form-field>

      X

      <mat-form-field>
        <div [formGroup]="user_data">
          <input
            matInput
            type="number"
            [(ngModel)]="gameSettings.gameMatrixNumOfCols"
            name="gameMatrixNumOfCols"
            placeholder="cols"
            min="2"
            max="8"
            (change)="handleDimensionChange()"
            formControlName="gameMatrixNumOfCols"
          />
        </div>
      </mat-form-field>

      <span *ngIf="gameSettings.numberOfPlayers === 3">
        X

        <mat-form-field>
          <div [formGroup]="user_data">
            <input
              matInput
              type="number"
              [(ngModel)]="gameSettings.gameMatrixDepth"
              name="gameMatrixDepth"
              placeholder="depth"
              min="2"
              max="8"
              (change)="handleDimensionChange()"
              formControlName="gameMatrixDepth"
            />
          </div>
        </mat-form-field>
      </span>
    </span>

    <!-- game type -->
    <div *ngIf="gameMatrixTemplate === 'Random Matrix'">
      Game Type:
      <mat-radio-group
        [(ngModel)]="gameType"
        name="gameType"
        id="gameType"
        (change)="handleGameTypeChange()"
        [disabled]="gameSettings.numberOfPlayers === 3"
      >
        <mat-radio-button [value]="GAME_TYPE.Normal">Normal</mat-radio-button>
        <mat-radio-button [value]="GAME_TYPE.ZeroSum"
          >Zero Sum</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <!-- game matrix -->
    <ng-container *ngIf="user_data.valid; else invalidMatrix">
      <div *ngIf="gameMatrix" style="display: flex;">
        <app-game-matrix
          style="margin: auto;"
          [matrix]="gameMatrix"
        ></app-game-matrix>
      </div>
    </ng-container>
    <ng-template #invalidMatrix>
      <mat-card>
        <mat-card-content
          style="text-align: center; color: firebrick; font-weight: bold;"
          >Invalid Game Setup</mat-card-content
        ></mat-card
      >
    </ng-template>

    <!-- submit -->
    <div style="margin-top: 15px;">
      <button
        mat-raised-button
        [disabled]="!user_data.valid || !gameSettings.gameMatrixDepth"
        type="submit"
        color="accent"
        style="width: 100%;"
      >
        Ready To Play
      </button>
    </div>
  </form>
</div>
