.gameSetupFormDiv {
  margin: auto;
  width: 55%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 16px;
}
.mat-radio-group {
  margin-left: 10px;
}
.mat-form-field {
  width: 70px;
  margin-left: 8px;
  margin-right: 8px;
}
div {
  margin-top: 10px;
}
.generateButton {
  margin: auto;
  margin-left: 25px;
  margin-right: 10px;
}

.minMaxRandomValues {
  width: 50px;
  margin-left: 10px;
}

.mat-button-toggle-group {
  margin-right: 16px;
  margin-top: 10px;
}
