<div class="gameSetupFormDiv">
  <form name="gameSetupForm" (ngSubmit)="handleSubmit()">
    <div>
      Choose # Of Players:
      <mat-radio-group
        [(ngModel)]="gameSettings.numberOfPlayers"
        name="numberOfPlayers"
      >
        <mat-radio-button [value]="2">2</mat-radio-button>
        <mat-radio-button [value]="3">3</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      Choose # Of Rounds
      <mat-form-field>
        <input
          matInput
          type="number"
          [(ngModel)]="gameSettings.numberOfRounds"
          name="numberOfRounds"
          placeholder="rounds"
          min="1"
        />
      </mat-form-field>
    </div>

    <div>
      Choose Game Matrix Dimensions
      <mat-form-field>
        <input
          matInput
          type="number"
          [(ngModel)]="gameSettings.gameMatrixNumOfRows"
          name="gameMatrixNumOfRows"
          placeholder="rows"
          min="1"
        />
      </mat-form-field>

      X

      <mat-form-field>
        <input
          matInput
          type="number"
          [(ngModel)]="gameSettings.gameMatrixNumOfCols"
          name="gameMatrixNumOfCols"
          placeholder="cols"
          min="1"
        />
      </mat-form-field>

      X

      <mat-form-field>
        <input
          matInput
          type="number"
          [(ngModel)]="gameSettings.gameMatrixDepth"
          name="gameMatrixDepth"
          placeholder="depth"
          min="1"
        />
      </mat-form-field>
    </div>

    <div style="margin-top: 15px;">
      <button
        mat-raised-button
        type="submit"
        color="accent"
        style="width: 100%;"
      >
        Ready To Play
      </button>
    </div>
  </form>
</div>
