<div>
  <p style="text-align: center; margin: auto; width: 50%; color: saddlebrown;">
    Total Score: {{ scores$ | async }}
  </p>
</div>

<!-- players pick strategy buttons -->
<div
  class="strategyPick"
  fxLayout="row"
  fxLayout="row wrap"
  fxLayoutGap="35px"
  fxLayoutAlign="center stretch"
>
  <div>
    {{ firstPlayerName }} picks
    <button
      *ngFor="let firstPlayerStrategy of firstPlayerStrategies"
      mat-stroked-button
      color="primary"
      (click)="handleFirstPlayerPick(firstPlayerStrategy)"
    >
      {{ firstPlayerStrategy }}
    </button>
  </div>

  <div>
    {{ secondPlayerName }} picks
    <button
      *ngFor="let secondPlayerStrategy of secondPlayerStrategies"
      mat-stroked-button
      color="accent"
      (click)="handleSecondPlayerPick(secondPlayerStrategy)"
    >
      {{ secondPlayerStrategy }}
    </button>
  </div>

  <div *ngIf="!isTwoPlayersGame">
    {{ thirdPlayerName }} picks
    <button
      *ngFor="let thirdPlayerStrategy of thirdPlayerStrategies"
      mat-stroked-button
      color="warn"
      (click)="handleThirdPlayerPick(thirdPlayerStrategy)"
    >
      {{ thirdPlayerStrategy }}
    </button>
  </div>
</div>

<!-- game matrix -->

<div fxLayout="row" fxLayout="row wrap" fxLayoutGap="30px">
  <div
    class="gameMatrices"
    *ngFor="let matrixStrategy of thirdPlayerStrategies"
  >
    <div *ngIf="!isTwoPlayersGame" style="text-align: center;">
      {{ matrixStrategy }}
    </div>

    <table
      mat-table
      [dataSource]="dataSource[matrixStrategy].matrixRows"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="playerStrategy">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          {{ row.playerStrategy }}
        </td>
      </ng-container>
      <div
        class="gameMatrices"
        *ngFor="let colStrategy of secondPlayerStrategies"
      >
        <ng-container *ngIf="!isTwoPlayersGame" [matColumnDef]="colStrategy">
          <th mat-header-cell *matHeaderCellDef>
            {{ colStrategy }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row[colStrategy][matrixStrategy] }}
          </td>
        </ng-container>

        <ng-container *ngIf="isTwoPlayersGame" [matColumnDef]="colStrategy">
          <th mat-header-cell *matHeaderCellDef>
            {{ colStrategy }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row[colStrategy] }}
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
<!-- ual rendered columns are set as a property on the row definition" -->
<!-- 
  <ng-container matColumnDef="playerStrategy">
    <th mat-header-cell *matHeaderCellDef></th>
    <td
      class="clickable"
      (click)="handleFirstPlayerPick(row.playerStrategy)"
      mat-cell
      *matCellDef="let row"
    >
      {{ row.playerStrategy }}
    </td>
  </ng-container>

  <div *ngFor="let colStrategy of secondPlayerStrategies">
    <ng-container [matColumnDef]="colStrategy">
      <th
        class="clickable"
        (click)="handleSecondPlayerPick(colStrategy)"
        mat-header-cell
        *matHeaderCellDef
      >
        {{ colStrategy }}
      </th>
      <td mat-cell *matCellDef="let row">{{ row[colStrategy] }}</td>
    </ng-container>
    ]
  </div>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->
