<!-- scoreBoard -->
<div>
  <p style="text-align: center; margin: auto; width: 50%; color: saddlebrown;">
    Round: {{ round$ | async }}
  </p>
  <p style="text-align: center; margin: auto; width: 50%; color: saddlebrown;">
    Total Score: {{ scores$ | async }}
  </p>
</div>

<!-- players pick strategy buttons -->
<div
  class="strategyPick"
  fxLayout="row"
  fxLayout="row wrap"
  fxLayoutGap="35px"
  fxLayoutAlign="center stretch"
>
  <div>
    {{ firstPlayerName }} picks
    <button
      *ngFor="let firstPlayerStrategy of firstPlayerStrategies"
      mat-stroked-button
      color="primary"
      (click)="handleFirstPlayerPick(firstPlayerStrategy)"
    >
      {{ firstPlayerStrategy }}
    </button>
  </div>

  <div>
    {{ secondPlayerName }} picks
    <button
      *ngFor="let secondPlayerStrategy of secondPlayerStrategies"
      mat-stroked-button
      color="accent"
      (click)="handleSecondPlayerPick(secondPlayerStrategy)"
    >
      {{ secondPlayerStrategy }}
    </button>
  </div>

  <div *ngIf="!isTwoPlayersGame">
    {{ thirdPlayerName }} picks
    <button
      *ngFor="let thirdPlayerStrategy of thirdPlayerStrategies"
      mat-stroked-button
      color="warn"
      (click)="handleThirdPlayerPick(thirdPlayerStrategy)"
    >
      {{ thirdPlayerStrategy }}
    </button>
  </div>
</div>

<!-- game matrix -->
<app-game-matrix [matrix]="gameMatrix"></app-game-matrix>
