table {
  margin: auto;
}
.mat-cell,
.mat-header-cell {
  min-width: 60px;
}
// .clickable {
//   cursor: pointer;
//   text-align: center;
//   align-content: center;
// }

.strategyPick {
  margin-bottom: 30px;
  margin-top: 30px;
}

.gameMatrices {
  margin: auto;
  margin-bottom: 30px;
}
