<!-- scoreBoard -->
<span class="scoreBoard">
  <div>
    <p>Round: {{ round$ | async }}</p>
    <p>Total Score: {{ scores$ | async }}</p>
  </div>

  <div *ngIf="lastRound$ | async as round">
    Last Round Strategies:
    <span
      *ngFor="let strategy of round.playedStrategies"
      style="margin-right: 10px;"
    >
      {{ strategy.player.name }} played {{ strategy.strategy }}
    </span>
    Round Result Was: {{ round.result }}
  </div>
</span>

<!-- players pick strategy buttons -->
<div
  class="strategyPick"
  fxLayout="row"
  fxLayout="row wrap"
  fxLayoutGap="35px"
  fxLayoutAlign="center stretch"
>
  <div *ngIf="firstPlayer.type === PLAYER_TYPES.Human">
    {{ firstPlayer.name }} picks
    <button
      *ngFor="let firstPlayerStrategy of firstPlayerStrategies"
      mat-stroked-button
      color="primary"
      (click)="handleFirstPlayerPick(firstPlayerStrategy)"
    >
      {{ firstPlayerStrategy }}
    </button>
  </div>

  <div *ngIf="secondPlayer.type === PLAYER_TYPES.Human">
    {{ secondPlayer.name }} picks
    <button
      *ngFor="let secondPlayerStrategy of secondPlayerStrategies"
      mat-stroked-button
      color="accent"
      (click)="handleSecondPlayerPick(secondPlayerStrategy)"
    >
      {{ secondPlayerStrategy }}
    </button>
  </div>

  <div *ngIf="!isTwoPlayersGame">
    <ng-container *ngIf="thirdPlayer.type === PLAYER_TYPES.Human">
      {{ thirdPlayer.name }} picks
      <button
        *ngFor="let thirdPlayerStrategy of thirdPlayerStrategies"
        mat-stroked-button
        color="warn"
        (click)="handleThirdPlayerPick(thirdPlayerStrategy)"
      >
        {{ thirdPlayerStrategy }}
      </button>
    </ng-container>
  </div>
</div>

<!-- game matrix -->
<app-game-matrix [matrix]="gameMatrix"></app-game-matrix>
